node_modules
dist-electron
release
dist
.env
.env.*
**/.DS_Store
**/.vscode
**/.idea
scripts/*
!scripts/verification/
!scripts/verification/**
!scripts/qualification/
!scripts/qualification/**
scripts/manual-notarize.js
.artifacts/
